.flex.justify-center
  .w-full.max-w-xs.md:max-w-md
    %h1.font-hairline.mb-6.text-center Resend Confirmation Instructions
    = simple_form_for(resource, as: resource_name,
        url: confirmation_path(resource_name),
        html: { class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md"  ,
             method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .mb-4
        = f.label :email, class: "block font-bold mb-2 text-gray-700 text-sm"
        = f.email_field :email,                                                                                                               |
          autofocus: true,                                                                                                                    |
          autocomplete: "email",                                                                                                              |
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),                                            |
          class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none shadow focus:shadow-outline" |
      .mb-4
        = f.submit "Resend Confirmation Info",                                                                                                |
          class: "button bg-cyan-700 hover:bg-cyan-500 font-bold text-white focus:outline-none py-2 px-4 rounded focus:shadow-outline w-full" |
      = render "devise/shared/links"
    = render "devise/shared/form_footer"
