.mx-6.md:mx-12.mx-20.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.2xl:grid-cols-4.gap-8.md:gap-12.lg:gap-16
  - Picture.all.limit(4).each do |picture|
    = render "pictures/picture" , picture: picture

.flex.justify-around.mt-5.md:mt-12.lg:mt-20
  %h3.text-3xl.font-bold
    = link_to "See all pictures" , "/pictures" , class: :underline

:javascript
    document.addEventListener("DOMContentLoaded", function(event) {
      const lightbox = GLightbox({  });
    });
