= paginate @stories

.flex.justify-end.mr-10
  = sort_link(@q, :happened ,class: 'flex flex-nowrap text-md')
  .border-r-4.mx-4
  = sort_link(@q, :created_at , class: 'flex flex-nowrap text-md')

- @stories.each do |story|
  = render_story(story)

%br

-if current_member
  .flex.ml-20
    = link_to new_story_path do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        New Story

#intro
  .flex.justify-center
    .mx-auto.max-w-xl.py-8
      .section_text.sm:mt-4.text-2xl
        Introduction to Hub Feenix building and activities
  %video.px-10.lg:px-40{controls: "" ,
                    poster: "/feenix_intro.jpg"}
    %source{src: "/uploads/feenix_intro.mp4",
            type: "video/mp4" }
      Your browser does not support the video tag.


:javascript
    document.addEventListener("DOMContentLoaded", function(event) {
      const lightbox = GLightbox({  });
    });
