
= paginate @pictures

.flex.justify-end.mr-10
  = sort_link(@q, :happened ,class: 'flex flex-nowrap text-md')
  .border-r-4.mx-4
  = sort_link(@q, :created_at , class: 'flex flex-nowrap text-md')

.mx-6.md:mx-12.mx-20.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.2xl:grid-cols-4.gap-8.md:gap-12.lg:gap-16
  - @pictures.each do |picture|
    = render picture , picture: picture

-if current_member
  .flex.ml-20
    = link_to new_picture_path do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        New Picture

:javascript
    document.addEventListener("DOMContentLoaded", function(event) {
      const lightbox = GLightbox({  });
    });
