.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-8.md:gap-12.lg:gap-16
  %div
  = render @picture , picture: @picture

.mx-6.md:mx-12.mx-20.flex.justify-between
  = link_to edit_picture_path(@picture) do
    %button.mt-6.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
      Edit
  = link_to pictures_path do
    %button.mt-6.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
      Back
