%p
  Welcome #{@resource.name}!

%p You can confirm your stay through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

Remember you can change the dates later, under the Settings.

You can also set a profile and picture to tell others about yourself.
And once at the Hub, you can add pictures and stories to share with others.

Looking forward to seeing you in person

The hub team
