%footer.bg-white{"aria-label" => "Site Footer"}
  .px-4.py-16.mx-auto.sm:px-6.lg:px-8
    .w-full.grid.grid-cols-2.gap-8.mt-8.lg:mt-0.lg:grid-cols-6.lg:gap-y-16.ld:grid-cols-3.lg:gap-y-8
      .max-w-screen-xl.px-4.py-16.mx-auto.sm:px-6.lg:px-8
        .lg:flex.lg:items-start.lg:gap-8
          %a.inline-flex.items-center{"aria-label" => "Hub Feenix", :href => "/", :title => "Hub Feenix"}
            = image_tag("feenix_lintu.webp" , class: "h-20")

      %nav.mt-6
        %p.mb-6.font-medium.text-xl.text-gray-900
          Activities
        %ul.space-y-4.text-sm
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/what_to_do_around"}
              What to do
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/helsinki"}
              Helsinki
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/turku"}
              Turku

      %nav.mt-6
        %p.mb-6.font-medium.text-xl.text-gray-900
          Weather Info
        %ul.space-y-4.text-sm
          %li
            %a.text-md.transition.hover:opacity-75{:href => "/four_seasons"}
              Four Seasons
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/in_winter"}
              In Winter

      %nav.mt-6{"aria-label" => "Footer Navigation - Hub Feenix"}
        %p.mb-6.font-medium.text-xl.text-gray-900
          Volunteering
        %ul.space-y-4.text-sm
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/volunteering"}
              About Volunteering
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/living_here"}
              Living @ Feenix Info
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/welcome"}
              Welcome

      %nav.mt-6{"aria-label" => "Footer Navigation - Hub Feenix"}
        %p.mb-6.font-medium.text-xl.text-gray-900
          People
        %ul.space-y-4.text-sm
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/members"}
              Volunteers
            %li
              %a.text-gray-700.transition.hover:opacity-75{:href => "/stories"}
                Stories
            %li
              %a.text-gray-700.transition.hover:opacity-75{:href => "/pictures"}
                Gallery

      %nav.mt-6{"aria-label" => "Footer Navigation - Downloads"}
        %p.mb-6.font-medium.text-xl.text-gray-900
          Information
        %ul.space-y-4.text-sm
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "/about"}
              About Hub Feenix
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "https://www.hubfeenix.fi" , target: :blank }
              Hub Feenix Website
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "https://www.facebook.com/hubfeenix" , :target => "_blank"}
              Facebook
          %li
            %a.text-gray-700.transition.hover:opacity-75{:href => "https://www.instagram.com/hub_feenix/" , :target => "_blank"}
              Instagram

      %ul.flex.justify-start.col-span-2.gap-6.lg:col-span-5.lg:justify-end
        %li
          %a.text-gray-700.transition.hover:opacity-75{:href => "https://www.facebook.com/hubfeenix", :rel => "noreferrer", :target => "_blank"}
            %span.sr-only Facebook
            %svg.w-6.h-6{"aria-hidden" => "true", :fill => "currentColor", :viewBox => "0 0 24 24"}
              %path{"clip-rule" => "evenodd", :d => "M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z", "fill-rule" => "evenodd"}
        %li
          %a.text-gray-700.transition.hover:opacity-75{:href => "https://www.instagram.com/hub_feenix/", :rel => "noreferrer", :target => "_blank"}
            %span.sr-only Instagram
            %svg.w-6.h-6{"aria-hidden" => "true", :fill => "currentColor", :viewBox => "0 0 24 24"}
              %path{"clip-rule" => "evenodd", :d => "M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z", "fill-rule" => "evenodd"}
        %li
          %a.text-gray-700.transition.hover:opacity-75{:href => "https://codeberg.org/FeenixMakers", :rel => "noreferrer", :target => "_blank"}
            %span.sr-only Codeberg
            %svg.h-6.w-6{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M12 1A11 11 0 0 0 1 12a11 11 0 0 0 1.7 6.4L12 6l9.3 12.4A11 11 0 0 0 23 12 11 11 0 0 0 12 1Z", :fill => "#aaa"}
              %path{:d => "M21.3 18.4 12 6l4.4 16.8a11 11 0 0 0 4.9-4.4Z", :fill => "#555"}
    .pt-8.mt-8.border-t.border-gray-100
      .grid.grid-cols-1.gap-8.lg:grid-cols-2
        %p.text-xs.text-left.text-gray-500
          2020-23. Osuuskunta Hub Feenix. All rights reserved.
        %nav{"aria-label" => "Footer Navigation - Support"}
          %ul.flex.flex-wrap.justify-start.gap-4.text-xs.lg:justify-end
            %li
              %a.text-gray-500.transition.hover:opacity-75{:href => "#"}
                =#Terms  Conditions
            %li
              %a.text-gray-500.transition.hover:opacity-75{:href => "#"}
                =#Privacy Policy
            %li
              %a.text-gray-500.transition.hover:opacity-75{:href => "#"}
                =#Cookies
