%header.px-4.py-5.mx-auto.sm:max-w-xl.md:max-w-full.lg:max-w-screen-xl.md:px-24.lg:px-8
  - if Rails.env.production? and (request.original_fullpath != '/timeline')
    %script{"data-domain" => "volunteers.feenix.community", :defer => "defer", :src => "/js/script.js"}
  .relative.flex.items-center.justify-between
    %a.inline-flex.items-center{"aria-label" => "Hub Feenix", :href => "/", :title => "Hub Feenix"}
      = image_tag("feenix_lintu.webp" , class: "h-20")
      %span.ml-2.text-xl.font-bold.text-gray-800 Volunteers @ Hub Feenix
    %ul.flex.items-center.hidden.space-x-8.lg:flex
      - main_menu.each do |link , text|
        %li
          %a.font-medium.tracking-wide.text-gray-700.transition-colors.duration-400.hover:text-cyan-800{"aria-label" => "Our product", :href => link, :title => text}= text
      %li
        = link_to "https://www.facebook.com/hubfeenix" , :target => "_blank" do
          = image_tag("fb.webp" , class: "h-10 rounded-md")
      %li
        - unless member_signed_in?
          %a.inline-flex.items-center.justify-center.h-12.px-6.font-medium.tracking-wide.text-white.transition.duration-200.rounded-lg.shadow-md.bg-green-800.hover:bg-blue-800.focus:shadow-outline.focus:outline-none{"aria-label" => "Sign up", :href => main_app.member_session_path, :title => "Log in or Sign up"}
            Login
        - else
          .inline-flex.items-stretch.rounded-md.border
            .rounded-l-md.px-4.py-2.text-sm.text-gray-600.hover:bg-cyan-100.hover:text-gray-900
              =link_to current_member.email ,  main_app.member_path(current_member)
            .relative
              %button.inline-flex.h-full.items-center.justify-center.rounded-r-md.border-l.border-gray-100.px-2.text-gray-600.hover:bg-cyan-400{:type => "button" , onclick: "dropdown();" }
                %span.sr-only Menu
                %svg.h-4.w-4{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
              =render "layouts/member_menu"

    .lg:hidden.flex.items-center.justify-between
      .mr-20
        = link_to "https://www.facebook.com/hubfeenix" , :target => "_blank" do
          = image_tag("fb.webp" , class: "h-10 rounded-md")
      %button.p-2.-mr-1.transition.duration-200.rounded.focus:outline-none.focus:shadow-outline.hover:bg-deep-purple-50.focus:bg-deep-purple-50{"aria-label" => "Open Menu", :title => "Open Menu" , onclick: "menu_on();"}
        %svg.w-5.text-gray-600{:viewbox => "0 0 24 24"}
          %path{:d => "M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z", :fill => "currentColor"}
          %path{:d => "M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z", :fill => "currentColor"}
          %path{:d => "M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z", :fill => "currentColor"}

= render "layouts/mobile_menu"
