.px-4.py-16.mx-auto.sm:max-w-xl.md:max-w-full.lg:max-w-screen-xl.md:px-24.lg:px-8.lg:py-20
  .flex.flex-col.max-w-screen-lg.overflow-hidden.bg-white.border.rounded.shadow-sm.lg:flex-row.sm:mx-auto
    .relative{:class => "lg:w-1/2"}
      -if @member.picture_url
        = image_tag @member.picture_url, class: "object-cover w-full lg:absolute h-80 lg:h-full"
    .flex.flex-col.justify-center.p-8.lg:p-16.lg:pl-10{:class => "lg:w-1/2"}
      %div
        %p.inline-block.px-3.py-px.mb-4.text-xs.font-semibold.tracking-wider.text-teal-900.uppercase.rounded-full.bg-teal-accent-400
          = stayed(@member)
      %h5.mb-3.text-3xl.font-extrabold.leading-none.sm:text-4xl
        = @member.name
      .mb-8.text-gray-800
        .prose= markdown(@member.bio)

- if current_member == @member
  .flex.justify-around.ml-20
    = link_to edit_member_path(@member) do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        Edit Profile

    = link_to edit_member_registration_path do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        Change Password

    = link_to new_story_path() do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        New Story

    = link_to new_picture_path() do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
        New Picture

    = form_tag( destroy_member_session_path , {method: :delete  } ) do
      %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400{type: :submit}
        Sign out

- @member.stories.each do |story|
  =render_story( story )
  - if current_member == @member
    .flex.justify-around
      = link_to edit_story_path(story) do
        %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
          Edit Story

.mx-6.md:mx-12.mx-20.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.xl:grid-cols-4.gap-8.md:gap-12.lg:gap-16
  - @member.pictures.each do |picture|
    %div
      = render picture , picture: picture
      - if current_member == @member
        .flex.justify-around
          = link_to edit_picture_path(picture) do
            %button.bg-cyan-200.mr-3.inline-block.rounded-lg.px-4.py-3.text-md.font-medium.border.border-gray-400
              Edit Picture
:javascript
  document.addEventListener("DOMContentLoaded", function(event) {
    const lightbox = GLightbox({  });
  });
